<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="band.portfolio.repository.RecrutingMapper">

<!-- マッピング定義（募集側） -->
<resultMap type="band.portfolio.domain.band.model.Recruting" id="recruting">
	<id column="id" property="recrutingId" />
	<result column="user_id" property="userId" />
	<result column="title" property="title" />
	<result column="content" property="content" />
	<result column="is_deleted" property="isDeleted" />
	<result column="create_date_time" property="createDateTime" />
	<result column="update_date_time" property="updateDateTime" />
</resultMap>

	<!-- 募集記事登録 -->
	<insert id="insertOne">
		insert into band_recruting(
			user_id,
			title,
			content,
			is_deleted
			)
			values(
				1,
				#{title},
				#{content},
				0
			);
	</insert>
	
	<!-- 募集記事一覧取得 -->
	<select id="findList" resultType="Recruting" resultMap="recruting">
		select 
		  * 
		from 
		  band_recruting
		<where>
		  <if test="searchParam != null">
		  	title like concat('%', #{searchParam}, '%')
		  </if>
		</where>
		order by 
		  create_date_time
		desc  
	</select>
	
	<!-- 募集記事1件取得 -->
	<select id="findOne" resultMap="recruting">
		select 
		  * 
		from 
		  band_recruting 
		where 
		  id = #{recrutingId}
	</select>

</mapper>