<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Session</title>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="text-center mt-5 mb-4">バンドメンバー募集掲示板 <br>（障がい者用）</h1>
		<p class="fs-5 text-center text-decoration-underline">サイト概要</p>
		<p class="text-center">
			当サイトは、身体や精神に障がいを持つ人がバンドを組みたいと思ったときに、<br>
			同じ障がいを持つ人同士でバンドを組むことができるようにと立ち上げました。
		</p>

		<!-- アラート表示場所 -->
		<div id="liveAlertPlaceholder"></div>
		<div class="d-flex justify-content-end align-items-center mt-4 mb-4">


			<th:block sec:authorize="isAuthenticated() == false">
				<button type="button" class="btn text-nowrap fw-bold" style="background-color: #e3f2fd;"
					data-bs-dismiss="alert" id="liveAlertBtn">＋新規バンドメンバーを募集する</button>

				<script>
					const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
					const appendAlert = (message, type) => {

						const parent = document.getElementById('liveAlertPlaceholder');
						while (parent.firstChild) {
							parent.removeChild(parent.firstChild);
						}

						const wrapper = document.createElement('div');
						wrapper.innerHTML = [
							`<div class="alert alert-${type} alert-dismissible" role="alert">`,
							`   <div>バンドメンバーを募集するには<a href="/login" class="alert-link">ログイン</a>が必要です</div>`,
							'   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
							'</div>'
						].join('')

						alertPlaceholder.append(wrapper);
					}

					const alertTrigger = document.getElementById('liveAlertBtn');
					if (alertTrigger) {
						alertTrigger.addEventListener('click', () => {
							appendAlert('Nice, you triggered this alert message!', 'danger');
						})
					}
				</script>
			</th:block>

			<th:block sec:authorize="isAuthenticated()">
				<a class="btn text-nowrap fw-bold" style="background-color: #e3f2fd;" th:href="@{/recruiting}"
					role="button">＋新規バンドメンバーを募集する</a>
			</th:block>

			<!-- 検索 -->
			<form class="form-inline d-flex align-items-center ms-3" role="search" method="get" th:action="@{/top}">
				<div class="input-group">
					<input type="search" class="form-control" placeholder="Search" name="searchParam">
					<button class="btn btn-outline-secondary" type="submit">検索</button>
				</div>
			</form>
		</div>
		<!-- 一覧表示 -->
		<table class="table table-hover">
			<tbody>
				<tr th:each="item : ${recruitingList}">
					<td>
						<a th:href="@{'/individual_post/' + ${item.recruitingId}}" th:text="${item.title}"></a>
						<th:block th:if="${item.title == null}">
							<a th:href="@{'/individual_post/' + ${item.recruitingId}}">無題</a>
						</th:block>
						<div class="row mt-2">
							<div class="col">
								<span class="badge text-bg-info" th:text="${item.area}"></span>
								<th:block th:if="${item.minAge >= 5 and item.maxAge <= 99}">
									<span class="badge text-bg-success ms-1"
										th:text="${item.minAge} + '歳～' + ${item.maxAge} + '歳'"></span>
								</th:block>
								<th:block th:if="${item.part != null}">
									<span class="badge text-bg-secondary" th:text="${item.part + '募集'}"></span>
								</th:block>
							</div>
							<div class="col text-end">
								<p th:text="'投稿者：' + ${item.users.userName} + '　投稿日：' + ${item.createDateTime}"></p>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="d-flex justify-content-end align-items-center mb-5">
			<th:block th:if="${searchParam} != null">
				<a class="btn btn-outline-primary btn-sm" th:href="@{/top}">
					TOP画面に戻る
				</a>
			</th:block>
		</div>
	</div>
</body>

</html>