<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	</meta>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- 共通CSS読込 -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<!-- 共通JS読込 -->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}" defer></script>
	<title>ログイン画面</title>
</head>

<body>
	<section>
		<div layout:fragment="content" class="container mt-5 pt-5">
			<div class="row">
				<div class="col-12 col-sm-8 col-md-6 m-auto">
					<div class="card border-0 shadow" style="background-color: #e3f2fd;">
						<div class="card-body text-center">
							<h3 class="text-muted text-decoration-underline">Login</h3>
							<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
								th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="text-danger">
								ログインエラーメッセージ
							</p>
							<form th:action="@{/login}" method="post">
								<input type="text" class="form-control my-4 py-2" placeholder="UserName"
									name="userName">
								<input type="password" class="form-control my-4 py-2" placeholder="Password"
									name="password">
								<div class="d-grid gap-2">
									<button class="btn btn-secondary">ログイン</button>

								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>