<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>返信投稿画面</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>返信投稿画面</h1>
		<form class="form" method="post" th:action="@{/reply_confirm}" th:object="${replyForm}">
			 <input type="hidden" th:field="*{recruitingId}">
			 <div class="mb-3">
				 <label class="form-label">返信文入力</label>
				 <textarea class="form-control" th:field="*{content}" th:errorclass="is-invalid"></textarea>
				 <div class="invalid-feedback" th:errors="*{content}"></div>
			 </div>
			 <button type="submit" class="btn btn-outline-primary">返信</button>
			 <a class="btn btn-outline-warning" th:href="@{/top}">
				キャンセル
			 </a>
	    </form>
	</div>
</body>
</html>